@use '../utils/' as *;

/*
============================
Name:  Hosue -Single Property Template
Version: 1.0.0
Description: Hosue -Single Property Template
Author: Unifato
Author URI: https://themeforest.net/user/unifato/portfolio
Location:
============================
*/

/*============= HEDAER CSS AREA ===============*/
/*============= HERO CSS AREA ===============*/
/*============= MOBILE-MENU CSS AREA ===============*/
/*============= ABOUT CSS AREA ===============*/
/*============= SERVICE CSS AREA ===============*/
/*============= PROPERTIES CSS AREA ===============*/
/*============= TESTIMONIAL CSS AREA ===============*/
/*============= GALLERY CSS AREA ===============*/
/*============= BLOG CSS AREA ===============*/
/*============= CONTACT CSS AREA ===============*/
/*============= TEAM CSS AREA ===============*/
/*============= APARTMENT CSS AREA ===============*/
/*============= CTA CSS AREA ===============*/
/*============= OTHERS CSS AREA ===============*/
/*============= FOOTER CSS AREA ===============*/